.express-title{
  padding: 0.27rem;
  font-size: 0.34rem;
	}
.item-list-box {
  padding-left: 0.27rem;
  background: #ffffff;
}
.item-list-box .item-list-title {
  font-size: 0.26rem;
  color: #999999;
  padding: 0.17rem 0rem;
  border-bottom: solid 1px  #f1f1f1;
}
.item-list-box .item {
  font-size: 0.3rem;
  padding: 0.3rem 0rem;
  border-bottom: solid 1px #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-list-box .item .item-right {
  padding-right: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-list-box .item .item-right input {
	text-align:right;
  font-size: 0.30rem;
  color:#a3a3a3;
  border:none;
}
.protocol-layout {
    margin-top: 0.3rem;
}
.protocol-layout .protocol-box {
  width: 6.95rem;
  font-size: 0.28rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.protocol-layout .protocol-box .agree-radio {
  width: 0.28rem;
  height: 0.28rem;
  border-radius: 0.28rem;
  position: relative;
  background: #dedede;
  margin-right: 0.1rem;
}
.protocol-layout .protocol-box .agree-radio.on {
  background: #FFA800;
}
.protocol-layout .protocol-box .agree-radio:after {
  content: '';
  display: block;
  width: 0.09rem;
  height: 0.14rem;
  border-right: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 0.08rem;
  top: 0.04rem;
}
.protocol-layout .protocol-box .agree-link {
  color: #FFA800;
}
.submit-button-layout{
    margin-top: 0.34rem;
}
.submit-button-layout .submit-button-box {
  width: 6.95rem;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  font-size: 0.38rem;
  border-radius: 0.08rem;
  margin: 0 auto;
  background: #FFA800;
  color: #ffffff;
  letter-spacing: 5px;
    margin-top:0.36rem;
}